---
version: 1
interactions:
- request:
    body: |
      {"assignees":["octo-cli-testuser"],"body":"test this body","labels":["label1","label2"],"milestone":1,"title":"test this"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/6","repository_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue","labels_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/6/comments","events_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/6/events","html_url":"https://github.com/octo-cli-testorg/test-create-issue/issues/6","id":375219483,"node_id":"MDU6SXNzdWUzNzUyMTk0ODM=","number":6,"title":"test
      this","user":{"login":"octo-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/octo-cli-testuser","html_url":"https://github.com/octo-cli-testuser","followers_url":"https://api.github.com/users/octo-cli-testuser/followers","following_url":"https://api.github.com/users/octo-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/octo-cli-testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/octo-cli-testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octo-cli-testuser/subscriptions","organizations_url":"https://api.github.com/users/octo-cli-testuser/orgs","repos_url":"https://api.github.com/users/octo-cli-testuser/repos","events_url":"https://api.github.com/users/octo-cli-testuser/events{/privacy}","received_events_url":"https://api.github.com/users/octo-cli-testuser/received_events","type":"User","site_admin":false},"labels":[{"id":1093660620,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIw","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/label1","name":"label1","color":"ededed","default":false},{"id":1093660621,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIx","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/label2","name":"label2","color":"ededed","default":false}],"state":"open","locked":false,"assignee":{"login":"octo-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/octo-cli-testuser","html_url":"https://github.com/octo-cli-testuser","followers_url":"https://api.github.com/users/octo-cli-testuser/followers","following_url":"https://api.github.com/users/octo-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/octo-cli-testuser/gists{/gis[...]
