---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/1
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/1","repository_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue","labels_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/1/comments","events_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/1/events","html_url":"https://github.com/octo-cli-testorg/test-create-issue/issues/1","id":370809832,"node_id":"MDU6SXNzdWUzNzA4MDk4MzI=","number":1,"title":"\"test
      this\"","user":{"login":"octo-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/octo-cli-testuser","html_url":"https://github.com/octo-cli-testuser","followers_url":"https://api.github.com/users/octo-cli-testuser/followers","following_url":"https://api.github.com/users/octo-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/octo-cli-testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/octo-cli-testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octo-cli-testuser/subscriptions","organizations_url":"https://api.github.com/users/octo-cli-testuser/orgs","repos_url":"https://api.github.com/users/octo-cli-testuser/repos","events_url":"https://api.github.com/users/octo-cli-testuser/events{/privacy}","received_events_url":"https://api.github.com/users/octo-cli-testuser/received_events","type":"User","site_admin":false},"labels":[{"id":2041973379,"node_id":"MDU6TGFiZWwyMDQxOTczMzc5","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/bar","name":"bar","color":"ededed","default":false,"description":null},{"id":1093660620,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIw","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/label1","name":"label1","color":"ededed","default":false,"description":null},{"id":1093660621,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIx","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/label2","name":"label2","color":"ededed","default":false,"description":null}],"state":"open","locked":false,"assignee":{"login":"octo-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/octo-cli-testuser","html_url":"https://github.com/octo-cli-testuser","followers_url":"https://api.github.com/users/octo-cli-testuser/followers","following_url":"https://api.github.com/users/octo-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/octo-cli-testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/octo-cli-testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octo-cli-testuser/subscriptions","organizations_url":"https://api.github.com/users/octo-cli-testuser/orgs","repos_url":"https://api.github.com/users/octo-cli-testuser/repos","events_url":"https://api.github.com/users/octo-cli-testuser/events{/privacy}","received_events_url":"https://api.github.com/users/octo-cli-testuser/received_events","type":"User","site_admin":false},"assignees":[{"login":"octo-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/octo-cli-testuser","html_url":"https://github.com/octo-cli-testuser","followers_url":"https://api.github.com/users/octo-cli-testuser/followers","following_url":"https://api.github.com/users/octo-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/octo-cli-testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/octo-cli-testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octo-cli-testuser/subscriptions","organizations_url":"https://api.github.com/users/octo-cli-testuser/orgs","repos_url":"https://api.github.com/users/octo-cli-testuser/repos","events_url":"https://api.github.com/users/octo-cli-testuser/events{/privacy}","received_events_url":"https://api.github.com/users/octo-cli-testuser/received_events","type":"User","site_admin":false}],"milestone":{"url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/milestones/1","html_url":"https://github.com/octo-cli-testorg/test-create-issue/milestone/1","labels_url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/milestones/1/labels","id":3744381,"node_id":"MDk6TWlsZXN0b25lMzc0NDM4MQ==","number":1,"title":"first","description":"first
      milestone","creator":{"login":"octo-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/octo-cli-testuser","html_url":"https://github.com/octo-cli-testuser","followers_url":"https://api.github.com/users/octo-cli-testuser/followers","following_url":"https://api.github.com/users/octo-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/octo-cli-testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/octo-cli-testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octo-cli-testuser/subscriptions","organizations_url":"https://api.github.com/users/octo-cli-testuser/orgs","repos_url":"https://api.github.com/users/octo-cli-testuser/repos","events_url":"https://api.github.com/users/octo-cli-testuser/events{/privacy}","received_events_url":"https://api.github.com/users/octo-cli-testuser/received_events","type":"User","site_admin":false},"open_issues":36,"closed_issues":0,"state":"open","created_at":"2018-10-16T21:27:27Z","updated_at":"2020-05-06T21:10:32Z","due_on":"2036-01-01T08:00:00Z","closed_at":null},"comments":0,"created_at":"2018-10-16T21:35:22Z","updated_at":"2020-05-06T21:09:53Z","closed_at":null,"author_association":"MEMBER","body":"\"test
      this body\"","closed_by":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e4b9c20469425718ac3723e8e241289"
      Last-Modified:
      - Wed, 06 May 2020 21:10:32 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4978"
      X-Ratelimit-Reset:
      - "1588801526"
    status: 200 OK
    code: 200
    duration: ""
