---
version: 1
interactions:
- request:
    body: |
      {"labels":["foo","bar"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/octo-cli-testorg/test-create-issue/issues/1/labels
    method: POST
  response:
    body: '[{"id":2041973379,"node_id":"MDU6TGFiZWwyMDQxOTczMzc5","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/bar","name":"bar","color":"ededed","default":false,"description":null},{"id":2041973376,"node_id":"MDU6TGFiZWwyMDQxOTczMzc2","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/foo","name":"foo","color":"ededed","default":false,"description":null},{"id":1093660620,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIw","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/label1","name":"label1","color":"ededed","default":false,"description":null},{"id":1093660621,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIx","url":"https://api.github.com/repos/octo-cli-testorg/test-create-issue/labels/label2","name":"label2","color":"ededed","default":false,"description":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0da1ddfda36a535ad3da70683ec751a6"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ""
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Ratelimit-Limit:
      - "5000"
      X-Ratelimit-Remaining:
      - "4975"
      X-Ratelimit-Reset:
      - "1588797289"
    status: 200 OK
    code: 200
    duration: ""
