---
version: 1
interactions:
- request:
    body: |
      {"title":"test this","body":"test this body","labels":["label1","label2"],"milestone":1,"assignees":["go-github-cli-testuser"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.github.com/repos/go-github-cli-testorg/test-create-issue/issues
    method: POST
  response:
    body: '{"url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue/issues/2","repository_url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue","labels_url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue/issues/2/comments","events_url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue/issues/2/events","html_url":"https://github.com/go-github-cli-testorg/test-create-issue/issues/2","id":370810104,"node_id":"MDU6SXNzdWUzNzA4MTAxMDQ=","number":2,"title":"test
      this","user":{"login":"go-github-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/go-github-cli-testuser","html_url":"https://github.com/go-github-cli-testuser","followers_url":"https://api.github.com/users/go-github-cli-testuser/followers","following_url":"https://api.github.com/users/go-github-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/go-github-cli-testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/go-github-cli-testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/go-github-cli-testuser/subscriptions","organizations_url":"https://api.github.com/users/go-github-cli-testuser/orgs","repos_url":"https://api.github.com/users/go-github-cli-testuser/repos","events_url":"https://api.github.com/users/go-github-cli-testuser/events{/privacy}","received_events_url":"https://api.github.com/users/go-github-cli-testuser/received_events","type":"User","site_admin":false},"labels":[{"id":1093660620,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIw","url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue/labels/label1","name":"label1","color":"ededed","default":false,"description":null},{"id":1093660621,"node_id":"MDU6TGFiZWwxMDkzNjYwNjIx","url":"https://api.github.com/repos/go-github-cli-testorg/test-create-issue/labels/label2","name":"label2","color":"ededed","default":false,"description":null}],"state":"open","locked":false,"assignee":{"login":"go-github-cli-testuser","id":44212809,"node_id":"MDQ6VXNlcjQ0MjEyODA5","avatar_url":"https://avatars0.githubusercontent.com/u/44212809?v=4","gravatar_id":"","url":"https://api.github.com/users/go-github-cli-testuser","html_url":"https://github.com/go-github-cli-testuser","followers_url":"https://api.github.com/users/go-github-cli-testuser/followers","following_url":"https://api.github.com/users/go-github-cli-testuser/following{/other_user}","gists_url":"https://api.github.com/users/go-[...]
